body {
	font-family: monospace;
	font-size: 1vw;
	background-color: cornsilk;
	hyphens: auto;
	line-height: 1.1em;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: lightcoral;
}

a:active {
	color: blue;
}

i {
	font-style: italic;
}

.caption {
	font-size: 0.9vw;
	padding-bottom: 2vh;
}

.pad {
	padding: 1vw;
}

.margin {
	margin-right: 180px;
}

.container .article {
	  padding: 0vw 1vw;
	  margin-bottom: 2vh;
}

.article.stack {
	  padding: 0vw 32vw;
	  margin-bottom: 2vh;
}

.margin-vertical {
	margin: 8vh 0;
}

.pad-bottom {
	padding-bottom: 6vh;
}

.header {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
	z-index: 3;
	height: 20px;
}

.footer {
	position: fixed;    
	display: block;
	float: left;
	text-align: left;
	bottom: 1.2vh;
	z-index: 3;
}

.footer2 {
	position: fixed;    
	display: block;
	float: right;
	text-align: right;
	bottom: 1.2vh;
	z-index: 3;
}

.name {
	width:60%;
	display: block;
	float: left;
	text-align: left;
	vertical-align: top;
}

.navigation {
	width:40%;
	display: block;
	float: left;
	text-align: right;
	vertical-align: top;
}

.container img{
	width: 100%;
}

/* Hover Popover */

.popover__wrapper {
  	position: relative;
  	display: inline-block;
}

.popover__content {
	font-size: 0.9vw;
	opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 52vw;
  top: 24vh;
  transform: translate(0, 10px);
  background-color: white;
  padding: 0.5rem;
  border: 0.5px solid black;
  max-width: 18vw;
  mix-blend-mode: normal;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% -20px);
  top: -8px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
  	text-align: left;
}

.indent  {
	text-indent: 2vw;
} 	

/*Experiment page*/

.hover {
	font-style: normal !important;
}





