body {
	font-family: arial;
	font-size: 20px;
}

a {
	color:#000;
	text-decoration: none;
}

a:hover {
	font-style: italic;
}

a:active {
	font-style: italic;
}

i {
	font-style: italic;
}

.pad {
	padding: 18px;
}

.margin-vertical {
	margin: 20px 0px;
}

.header {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
	z-index: 3;
	height: 20px;
}

.name {
	width:60%;
	display: block;
	float: left;
	text-align: left;
	vertical-align: top;
}

.navigation {
	width:40%;
	display: block;
	float: left;
	text-align: right;
	vertical-align: top;
}

.information, .contact {
	width: 50%;
	/*float: left;*/
}

.information {
	margin-top: 60px;
}

.ig{
	text-align: center;
	padding: 15vh 5vw 5vh 5vw;
	font-style: none;
}

.caption {
	margin-top: 1vh;
	display: block;
	width: 100%;
	padding: 0vw 23vw;
	hyphens: auto;
	font-size: 16px;
}

.caption-journal{
	margin: 1vh 1.4vw 1vh;
	font-size: 16px;
	hyphens: auto;
}

.container img{
	width: 100%;
}

.tag:hover {
	font-style: italic;
}

.tag {
  cursor: pointer;
}

.article-hide {
  display:none; 
}

/*SLIDER*/

.slider-first {
	padding-top: 18px;
}

.lb-images:hover .arrow-right, .lb-images:hover .arrow-left{
	visibility: visible;
}

.arrow-right
	{
    display: block;
	visibility: hidden;
    position: absolute;
    top: 50%;
    right: 37px;
    color: #fff;
    z-index: 3;
    font-size: 30px;
}

.arrow-left
	{
    display: block;
	visibility: hidden;
    position: absolute;
    top: 50%;
    left: 37px;
    color: #fff;
    z-index: 3;
    font-size: 30px;
}

.lightbox {
margin-top: 40px;
}

.lightbox .lb-images {
  max-width: 100%;
  max-height: 100%;
}

.lightbox .lb-images .lb-slides {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.lightbox .lb-images .lb-slides .img-fill {
  	display: block;
	padding: 10px;
	height: 40vw;
	width: auto;
	/*CHANGE HEIGHT HERE*/
}

.lightbox .lb-images .lb-slides .img-fill img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.lightbox .lb-images .lb-slides .img-fill img:focus {
  outline: 0;
}


/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
/* Styles */

body {
	font-size: 13px;
}

.name, .navigation {
	width:100%;
	text-align: left;
}

.caption {
	margin-top: 2px;
	display: block;
	width: 100%;
	padding: 0vw;
	hyphens: auto;
}

.lightbox .lb-images .lb-slides .img-fill {
	height: 50vw;
	padding: 5px;
}

.information, .contact {
	margin-top: 200px;
	margin-bottom: 20px;
	width: 100%;
}

.container{
	flex-wrap: nowrap;
}

}







